<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Escolar -->
		<add name="ConexionBD"
			 connectionString="Host=dpg-d09akobuibrs73adssng-a.oregon-postgres.render.com;Port=5432;Database=bdd_control_escolar;Username=bdd_control_escolar_user;Password=MhgdwO3GWB6mpKXM2U7zY0tsHL44V1wx;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>
